// Main //
$main-accent: #7f58dc;
$hover-accent: #d7d1f3;
$focus-accent: #bba6f3;
$body-bg: #fafafa;
$panel-bg: #fff;
$default-colour: #ddd;
// Legend //
$trail: rgb(237, 0, 1);
$high-pheromone: rgb(66, 33, 123);
$pheromone-iteration: rgb(0, 255, 0);