// Main //
$main-accent: #7f58dc;
$hover-accent: #d7d1f3;
$focus-accent: $main-accent;
$dark-accent: #222;
$body-bg: #fafafa;
$panel-bg: #fff;
$default-colour: #ddd;
// Legend //
$trail: rgb(66, 33, 123);
$high-pheromone: rgb(237, 0, 1);
$pheromone-iteration: rgb(0, 255, 0);