// Imports //
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');
// Element definition //
%normal-button {
    // button positioning //
    display: block;
    margin: 0 auto;
    // button styling //
    height: 2.625rem;
    padding: 0 8px;
    color: #7f58dc;
    background-color: white;
    border: 1px solid #7f58dc;
    border-radius: 2px;
    font-size: 0.6875rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.2s;
    min-width: 6.25rem;


    &:hover {
        background-color: #d7d1f3;
        cursor: pointer;
        transition: all 0.2s;
    }

    &:disabled {
        opacity: 0.3;
        background-color: white;
        cursor: not-allowed;
    }

    &:active, &:focus {
        background-color: #bba6f3;
        color: white;
        cursor: pointer;
        font-size: 0.875rem;
        transition: all 0.2s;
    }
}


body {
    font-family: 'Source Sans Pro', 'HelveticaNeue', 'Helvetica', sans-serif;
    max-width: 985px;
    margin: 0 auto;
}

button {
    @extend %normal-button;
}

.canvas-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.input-canvas-wrapper {
    position: relative;
    width: 500px;
    height: 500px;
}

.ui__wrapper,
.upload-controls,
.process-params,
.progress-indicators,
.binary-canvas-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid #222;
}

// User Inputs //
.ui__wrapper {
    .input-element {
        position: relative;
        max-width: fit-content;
        text-align: center;
        padding: 0.625rem;

        &>label {
            display: block;
        }
    }

    .defaults-button__container {
        width: 100%;
        padding: 0.9375rem;

        #defaults-button {
            @extend %normal-button;
        }
    }
}

// Upload controls
.upload-controls {
    .image-upload__container {
        max-width: 200px;
        width: fit-content;
        // Image upload button
        #image-upload {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;

            &+label {
                @extend %normal-button;
                width: fit-content;
                // Centering text //
                align-content: center;
                display: flex;
                justify-content: center;
                flex-direction: column;
                font-size: 0.75rem;
            }
        }
    }
}


#canvasBg,
.binary-canvas {
    border: 1px solid #000000;
    display: block;
    background-position: center;
    background-size: cover;
}

#image-source {
    display: none;
}

#image-preview {
    max-height: 50px;
    max-width: 50px;
}

#myProgress {
    width: 100%;
    background-color: #ddd;
}

#myBar {
    width: 1%;
    height: 30px;
    background-color: #4CAF50;
}
