/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                              Main styling file                             */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                   Imports                                  */
/* -------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');
@import './helpers/scss/variables.scss'; // defines used variables
@import'./helpers/scss/placeholders.scss'; // contains reusable element code blocks
@import'./helpers/scss/animations.scss'; // keyframe animations

/* -------------------------------------------------------------------------- */
/*                                Root elements                               */
/* -------------------------------------------------------------------------- */

body {
    font-family: 'Source Sans Pro', 'HelveticaNeue', 'Helvetica', sans-serif;
    max-width: 1045px;
    margin: 0 auto;
    background-color: $body-bg;

    @media (max-width:1045px) {
        padding: 0 20px;
    }
}

main {
    padding-bottom: 20px;
}

button {
    @extend %normal-button;
}

details {
    flex-basis: 100%;
    margin: 10px 0;

    summary {
        cursor: pointer;
    }

    h2 {
        display: inline;
        vertical-align: middle;
    }

    .input-element {
        display: inline-block;
    }
}

/* -------------------------------------------------------------------------- */
/*                           Sections common styles                           */
/* -------------------------------------------------------------------------- */

.ui__wrapper,
.upload-controls,
.process-params,
.progress-indicators,
.binary-canvas-div,
.input-canvas-wrapper {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    // border: 1px solid $dark-accent;
    padding: $main-spacing;
    border-radius: 5px;
    background-color: $panel-bg;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, .1);
    margin: 15px auto;

    &>* {
        margin: auto;
    }
}

/* -------------------------------------------------------------------------- */
/*                                 User Inputs                                */
/* -------------------------------------------------------------------------- */

.ui__wrapper {
    .input-element {
        position: relative;
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
        text-align: center;
        padding: 0.625rem;

        &>label {
            display: block;
        }

        .ui-element:disabled {
            cursor: not-allowed;
        }
    }

    .defaults-button__container {
        width: 100%;
        padding: 0.9375rem;

        #defaults-button {
            @extend %normal-button;
        }
    }
}

/* -------------------------------------------------------------------------- */
/*                            Main controls section                           */
/* -------------------------------------------------------------------------- */

/* -------------------------- Image upload controls ------------------------- */

.upload-controls {
    .image-upload__container {
        max-width: 200px;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;

        // Image upload button
        #image-upload {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;

            &+label {
                @extend %normal-button;
                width: -webkit-fit-content;
                width: -moz-fit-content;
                width: fit-content;
                // Centering text //
                align-content: center;
                display: -webkit-box;
                display: flex;
                -webkit-box-pack: center;
                justify-content: center;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                flex-direction: column;
                font-size: 0.75rem;

                .disabled {
                    opacity: 0.3;
                    cursor: not-allowed;
                }
            }
        }
    }

    #image-source {
        display: none;
    }

    #image-preview {
        max-height: 50px;
        max-width: 50px;
    }

    /* ------------------------------ Pulse start/pause button ------------------------------ */

    .pulse {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: $main-accent;
        box-shadow: 0 0 0 rgba(127, 88, 220, 0.4);
        -webkit-animation: pulse 2s infinite;
        animation: pulse 2s infinite;
        display: none;
        cursor: pointer;

        &::before {
            content: "II";
            color: $body-bg;
            text-align: center;
            display: block;
            font-weight: bold;
            margin-top: 9px;
        }
    }

    /* -------------------------- Visualisation toggle -------------------------- */

    .visualisation-toggle_container {
        .switch {
            position: relative;
            display: inline-block;
            width: 50px;
            height: 24px;
        }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            border-radius: 34px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 16px;
            width: 16px;
            left: 4px;
            bottom: 4px;
            border-radius: 50%;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked+.slider {
            background-color: $main-accent;
        }

        input:disabled+.slider {
            opacity: 0.3;
            cursor: not-allowed;
        }

        input:focus+.slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked+.slider:before {
            -webkit-transform: translateX(26px);
            transform: translateX(26px);
        }

        .visualisation-toggle_label {
            margin-left: 5px;
        }
    }

    .performance-disclaimer {
        text-align: center;
        font-size: 11px;
        width: 100%;
        padding: 15px;
        font-weight: bold;
        display: none;
    }
}

/* -------------------------------------------------------------------------- */
/*                       Simulation information section                       */
/* -------------------------------------------------------------------------- */

.elapsed-time-wrapper {
    margin: 5px auto;
}

.process-params>input,
#elapsed-time {
    border: 0;
    font-size: 12p;
    font-weight: bold;
    font-size: 12px;
    max-width: 100px;
}

/* ------------------------------- Loading bar ------------------------------ */

#bar-container {
    width: 100%;
    background-color: $default-colour;
    border-radius: 15px;
    position: relative;
    cursor: auto;

    span.bar-percentage {
        position: absolute;
        top: 5px;
        left: 50%;
        color: $body-bg;
        font-weight: bold;
    }
}

#bar {
    width: 0%;
    height: 30px;
    text-align: center;
    background-color: $main-accent;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

/* -------------------------------------------------------------------------- */
/*                              Canvases section                              */
/* -------------------------------------------------------------------------- */

.canvas-wrapper {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.input-canvas-wrapper,
.binary-canvas-div {
    position: relative;
    background-color: transparent;
    width: $canvas-size;
    height: $canvas-size;
    border: 1px solid #000000;
    display: block;
    background-position: center;
    background-size: cover;
    padding: 0;
}

/* -------------------------- Visualisation canvas -------------------------- */

#canvasBg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
}

#canvasFg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

/* --------------------------------- Legend --------------------------------- */

.legend {
    @extend %overlay-box;
    display: none;
    margin: 0;

    span {
        display: block;
    }

    &_trail::before {
        @extend %legend-colour-box;
        background-color: $trail;
    }

    &_high-pheromone::before {
        @extend %legend-colour-box;
        background-color: $high-pheromone;
    }

    &_pheromone-iteration::before {
        @extend %legend-colour-box;
        background-color: $pheromone-iteration;
    }
}

/* ------------------------------ Result canvas ----------------------------- */

.binary-canvas-div {
    .binary-canvas {
        position: absolute;
        transition: all 0.5s ease;
    }

    // Overlay controls
    .overlays {
        width: $canvas-size;
        height: $canvas-size;
        position: absolute;
        z-index: 10;
        display: none;
        opacity: 0.5;
        transition: all 0.3s ease;

        &:hover,
        :focus,
        :active {
            opacity: 1;
            transition: all 0.3s ease;
        }


        .arrow {
            // arrow box
            display: flex;
            position: absolute;
            justify-content: center;
            top: calc(50% - 35px);
            width: 68px;
            height: 84px;
            background-color: $overlays-bg;
            backdrop-filter: blur(5px);
            transition: all 0.3s ease;

            &:hover {
                background-color: $overlays-hover;
                cursor: pointer;
                transition: all 0.3s ease;
            }

            &::after {
                content: "";
                display: block;
                border: solid #222;
                border-width: 0 $arrow-size $arrow-size 0;
                margin: auto;
                padding: $arrow-size;
            }
        }

        .right {
            right: 0;
            border-radius: 10px 0 0 10px;

            &::after {
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
                margin-right: calc(50% - #{$arrow-size});
            }
        }

        .left {
            left: 0;
            border-radius: 0 10px 10px 0;

            &::after {
                -webkit-transform: rotate(135deg);
                transform: rotate(135deg);
                margin-left: calc(50% - #{$arrow-size});
            }
        }

        .item-count {
            @extend %overlay-box;
            position: absolute;
            right: 0;
            bottom: 0;
        }

        .param-details {
            @extend %overlay-box;
            position: absolute;
            left: 0;
            top: 0;
            display: none;

            &:hover {
                opacity: 1;
            }

            &-button {
                @extend %overlay-button;
                top: 0;
                left: 0;
            }

            .close-button {
                min-width: 20px;
                height: 20px;
                background-color: transparent;
                border: none;
                color: $dark-accent;
            }

            &-element {
                display: block;
                margin-right: 40px;
            }
        }

        .download-button {
            @extend %overlay-button;
            bottom: 0;
            left: 0;
        }
    }
}

/* -------------------------------------------------------------------------- */
/*                               Loading screen                               */
/* -------------------------------------------------------------------------- */

.push-back-screen {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    cursor: wait;
    display: none;
    z-index: 999;

    // Text styling
    .please-wait {
        font-weight: bold;
        text-align: center;
        display: block;
        color: $panel-bg;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        margin: 0 auto;
        margin-top: 300px;
        font-size: xx-large;

        span {
            font-size: medium;
        }
    }
}
